:root {
  --main-bg-color: rgb(130, 165, 42);

  --odd-bg-color: orange;
  --even-bg-color: rgb(32, 161, 216);
}

body {
  font-size: 62.5%;
  background-color: var(--main-bg-color);
  margin: 0;
}

#table-headlines {
  background-color: antiquewhite;
}

#table-posts {
  border-collapse: collapse;
  width: 100%;
}

#image {
  height: 2rem;
  margin-left: 0.7rem;
  padding-top: 0.2rem;
  width: 2rem;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}

#title-text {
  padding-left: 2rem;

  /* padding-left: 10rem; */
}

#btns {
  width: 10rem;
}

.btn-delete {
  background-color: rgb(178, 28, 28);
}

.btn-update {
  background-color: greenyellow;
}

tbody tr:nth-child(odd) td {
  background-color: var(--odd-bg-color);
}

tbody tr:nth-child(even) td {
  background-color: var(--even-bg-color);
}
