:root {
  --main-bg-color: rgb(130, 165, 42);

  --odd-bg-color: orange;
  --even-bg-color: rgb(32, 161, 216);
}

body {
  font-size: 62.5%;
  background-color: var(--main-bg-color);
  width: 100%;
  margin-left: 0;
}

#table-headlines {
  background-color: antiquewhite;
}

#table {
  border-collapse: collapse;
}
#row {
  border-style: solid;
  border-color: black;
  /* display:block; */
}
#image {
  height: 2rem;
  margin-left: 0.7rem;
  padding-top: 0.2rem;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}

#table {
  margin-left: 0;
  width: 100%;
}
#title-text {
  padding-left: 2rem;
  text-align: center;
  /* padding-left: 10rem; */
}

tbody tr:nth-child(odd) td {
  background-color: var(--odd-bg-color);
}

tbody tr:nth-child(even) td {
  background-color: var(--even-bg-color);
}
